<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <log4net>
    <!-- Normal log: single file output -->
    <appender name="InfoLogDailyAppender" type="log4net.Appender.FileAppender">
      <File value=".\Logs\Info.log" />
      <AppendToFile value="true" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMax" value="WARN" />
        <param name="LevelMin" value="INFO" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%date [%thread] [%-5level] %logger - %message%n" />
      </layout>
    </appender>
    <!-- Error log: split file output -->
    <appender name="ErrorLogDailyAppender" type="log4net.Appender.RollingFileAppender">
      <!-- File name by date -->
      <param name="File" value=".\Logs\Error_" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <param name="RollingStyle" value="date" />
      <param name="StaticLogFileName" value="false" />
      <param name="AppendToFile" value="true" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMax" value="FATAL" />
        <param name="LevelMin" value="ERROR" />
      </filter>
      <param name="MaximumFileSize" value="10MB" />
      <param name="MaxSizeRollBackups" value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%date [%thread] [%-5level] %logger %file(%line) %class %method - %message%n" />
      </layout>
    </appender>
    <!-- For debugging: split file output -->
    <appender name="DebugLogDailyAppender" type="log4net.Appender.RollingFileAppender">
      <!-- File name by date -->
      <param name="File" value=".\Logs\Trace_" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <param name="RollingStyle" value="date" />
      <param name="StaticLogFileName" value="false" />
      <param name="AppendToFile" value="true" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <!-- <param name="LevelMax" value="FATAL" /> -->
        <param name="LevelMin" value="TRACE" />
      </filter>
      <param name="MaximumFileSize" value="10MB" />
      <param name="MaxSizeRollBackups" value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%date [%thread] [%-5level] %logger %file(%line) %class %method - %message%n" />
      </layout>
      <Encoding value="UTF-8" />
    </appender>
    <root>
      <!-- Log more than TRACE-->
      <level value="TRACE" />
      <!-- Appender to be used -->
      <appender-ref ref="InfoLogDailyAppender" />
      <appender-ref ref="ErrorLogDailyAppender" />
      <appender-ref ref="DebugLogDailyAppender" />
    </root>
  </log4net>
</configuration>