<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    
    <!-- Fatal -->
    <appender name="FatalLogAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="./Logs/%date{yyyy-MM-dd}/Fatal.log" />
      <rollingStyle value="Size" />
      <param name="AppendToFile" value="true" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMax" value="FATAL" />
        <param name="LevelMin" value="FATAL" />
      </filter>
      <param name="MaximumFileSize" value="10MB" />
      <param name="MaxSizeRollBackups" value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%n[%date{HH:mm:ss}] %class %method (L%line) - %message%n" />
      </layout>
    </appender>
    
    <!-- Error -->
    <appender name="ErrorLogAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="./Logs/%date{yyyy-MM-dd}/Error.log" />
      <rollingStyle value="Size" />
      <param name="AppendToFile" value="true" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMax" value="ERROR" />
        <param name="LevelMin" value="ERROR" />
      </filter>
      <param name="MaximumFileSize" value="10MB" />
      <param name="MaxSizeRollBackups" value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%n[%date{HH:mm:ss}] %class %method (L%line) - %message%n" />
      </layout>
    </appender>

    <!-- Warn -->
    <appender name="WarnLogAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="./Logs/%date{yyyy-MM-dd}/Warn.log" />
      <rollingStyle value="Size" />
      <param name="AppendToFile" value="true" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMax" value="WARN" />
        <param name="LevelMin" value="WARN" />
      </filter>
      <param name="MaximumFileSize" value="10MB" />
      <param name="MaxSizeRollBackups" value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%n[%date{HH:mm:ss}] %class %method (L%line) - %message%n" />
      </layout>
    </appender>

    <!-- Info -->
    <appender name="InfoLogAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="./Logs/%date{yyyy-MM-dd}/Info.log" />
      <rollingStyle value="Size" />
      <param name="AppendToFile" value="true" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMax" value="INFO" />
        <param name="LevelMin" value="INFO" />
      </filter>
      <param name="MaximumFileSize" value="10MB" />
      <param name="MaxSizeRollBackups" value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%n[%date{HH:mm:ss}] %class %method (L%line) - %message%n" />
      </layout>
    </appender>

    <!-- Debug -->
    <appender name="DebugLogAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="./Logs/%date{yyyy-MM-dd}/Debug.log" />
      <rollingStyle value="Size" />
      <param name="AppendToFile" value="true" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMax" value="DEBUG" />
        <param name="LevelMin" value="DEBUG" />
      </filter>
      <param name="MaximumFileSize" value="10MB" />
      <param name="MaxSizeRollBackups" value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%n[%date{HH:mm:ss}] %class %method (L%line) - %message%n" />
      </layout>
    </appender>

    <root>
      <level value="Debug" />
      <appender-ref ref="FatalLogAppender" />
      <appender-ref ref="ErrorLogAppender" />
      <appender-ref ref="WarnLogAppender" />
      <appender-ref ref="InfoLogAppender" />
      <appender-ref ref="DebugLogAppender" />
    </root>
    
  </log4net>
</configuration>